<?xml version='1.0' encoding='utf-8'?>
<widget id="cn.isjs.www" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>isjs</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <icon density="ldpi" src="static/icons/android/mipmap-ldpi/ic_launcher.png" />
        <icon density="mdpi" src="static/icons/android/mipmap-mdpi/ic_launcher.png" />
        <icon density="hdpi" src="static/icons/android/mipmap-hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="static/icons/android/mipmap-xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="static/icons/android/mipmap-xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="static/icons/android/mipmap-xxxhdpi/ic_launcher.png" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <icon height="180" src="static/icons/ios/icon-60@3x.png" width="180" />
        <icon height="60" src="static/icons/ios/icon-60@2x.png" width="60" />
        <icon height="120" src="static/icons/ios/icon-60@2x.png" width="120" />
        <icon height="76" src="static/icons/ios/icon-76.png" width="76" />
        <icon height="152" src="static/icons/ios/icon-76@2x.png" width="152" />
        <icon height="40" src="static/icons/ios/icon-40.png" width="40" />
        <icon height="80" src="static/icons/ios/icon-40@2x.png" width="80" />
        <icon height="29" src="static/icons/ios/icon-29.png" width="29" />
        <icon height="58" src="static/icons/ios/icon-29@2x.png" width="58" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
